@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.card-container {
    color: white;
    width: 350px;
    height: 492px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    border-radius: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.image-container img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}
.image-container img:hover {
    transform: rotate(-10deg);
}

.card{

    margin: 20px;
}
.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-header h3{
    font-size: 1.6rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
}

.card-header small{
    text-transform: capitalize;
    border: #f2f2f2 solid 1px;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.6rem;
}
.card-body p{
    font-size: 0.9rem;
}
.card-footer{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-footer a{
    color: #f2f2f2;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}
.card-footer button{
    border: none;
    color: rgb(54, 54, 54);
    font-size: 1rem;
    font-weight: 800;
    text-transform: capitalize;
    border-radius: 25px;
    padding: 6px 15px;
    cursor: pointer;
    font-weight: bold;
}
